<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacto</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="preload" href="/css/style_navBar.css" as="style"> <!--carga más rápido la hoja de estilos-->
    <link rel="stylesheet" href="/css/style_navBar.css">
</head>
<body>

    <nav class="barraNavegacion">
        <div class="imageNav">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle" width="150" height="150" viewBox="0 0 24 24" stroke-width="0.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="12" r="9" />
            </svg>
        </div>
        <div class="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="12" cy="7" r="4" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
            <a href="index.html">Sobre Mi</a>
        </div>

        <div class="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-check" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <rect x="4" y="4" width="16" height="16" rx="2" />
                <path d="M9 12l2 2l4 -4" />
            </svg>
            <a href="servicios.html">Mis servicios</a>
        </div>

        <div class="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-folder" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2" />
            </svg>
            <a href="portafolio.html">Portafolio</a>
        </div>

        <div class="button">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2.5" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="10" y1="14" x2="21" y2="3" />
                <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5" />
            </svg>
            <a href="contacto.html">Contacto</a>
        </div>
    </nav>

    <div class="mainContent">
        <main>
            <h1>Contacto</h1>
            <form action="">
                <fieldset><!--Caja de agrupación-->
                    <legend>Llena los siguientes datos para trabajar juntos!</legend>
    
                    <div>
                        <label for="">Nombre(s)</label>
                        <input type="text" placeholder="Nombre(s)"> 
                    </div>
    
                    <div>
                        <label for="">Teléfono</label>
                        <input type="tel" placeholder="Número de teléfono"/>
                    </div>
    
                    <div>
                        <label for="">Correo</label>
                        <input type="email" placeholder="Correo">
                    </div>
    
                    <div>
                        <label for="">Mensaje</label>
                        <textarea></textarea>
                    </div>
    
                    <div>
                        <input class="boton" type="submit" value="Enviar">
                    </div>
                </fieldset>
            </form>
                <footer>
                    <p>Todos los derechos reservados. Argonza Roblero Ángel Rogelio</p>
                </footer>
        </main>
    </div>
</body>
</html>